<header class="header">
  <div class="container">
    <div class="navigation">
      <div class="header-logo">
        <img
          src="../img/image.jpg"
          class="logo-image"
          alt="blond-guy"
          width="80"
          height="80"
        />
        <h2 class="header-title">jefferson*</h2>
      </div>
      <button type="button" class="header-menu-button">Menu</button>
      <button type="button" class="header-button-big">Order the project</button>
      <button type="button" class="header-button">
        <svg class="header-icon" width="28" height="28">
          <use href="../img/sprite.svg#icon-menu-header"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
