.hero {
  height: 812px;
  padding-bottom: 32px;
  background-image: url(..//img/hero/bg-hero-1x/hero-1-1x.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  @include retina {
    background-image: url(..//img/hero/bg-hero-2x/hero-1-2x.jpeg);
  }

  @include tablet {
    height: 1024px;
    padding-bottom: 31px;
  }
  @include desktop {
    height: 900px;
    padding-bottom: 32px;
  }
}
.hero > .container,
.hero-wrap {
  height: 100%;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tablet {
    align-items: normal;
  }
}
.hero-title {
  margin-top: 50%;
  @include font(50, 500, 50, -0.03);
  text-transform: uppercase;
  color: var(--title);
  @include tablet {
    @include font(90, 500, 90, -0.03);
    text-align: left;
  }
  @include desktop {
    margin-top: 25%;
    margin-left: 178px;
  }
}

.hero-list {
  display: flex;
  flex-direction: row;
  gap: 4px;
  @include tablet {
    justify-content: flex-end;
  }
}

.hero-link {
  @include font(14, 500, 17, -0.02);
  color: var(--title);
  @include tablet {
    @include font(16, 500, 19, -0.02);
  }
}
.hero-item {
  padding: 10px 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  @include tablet {
    padding: 18px 18px;
  }
}
